---
export interface Props {
  element: string;
  label: string;
  name: string;
  type: any;
  placeholder: string;
  required: boolean;
  options: Array<Object>;
}
const { element, label, name, type, placeholder, required, options } =
  Astro.props;
---

<div>
  {
    () => {
      {
        switch (element) {
          case "input":
            return (
              <>
                <span class="text-gray-700">{label}</span>
                <input
                  type={type}
                  name={name}
                  class="mt-1 block w-full"
                  placeholder={placeholder}
                  required={required}
                />
              </>
            );
          case "select":
            let selectOptions = options?.map((option: any) => {
              return <option value={option.value}>{option.label}</option>;
            });
            return (
              <label class="block">
                <span class="text-gray-700">{label}</span>
                <select
                  name={name}
                  class="mt-1 block w-full"
                  required={required}
                >
                  {selectOptions}
                </select>
              </label>
            );
          case "radio":
            let radioOptions = options?.map((option: any) => {
              return (
                <label class="inline-flex items-center cursor-pointer">
                  <input
                    type="radio"
                    class="form-radio"
                    name={name}
                    value={option.value}
                  />
                  <span class="ml-2">{option.label}</span>
                </label>
              );
            });
            return (
              <div class="flex flex-col">
                <span class="text-gray-700">{label}</span>
                {radioOptions}
              </div>
            );
          case "checkbox":
            let checkboxOptions = options?.map((option: any) => {
              return (
                <label
                  id={option.value}
                  class="inline-flex items-center cursor-pointer"
                >
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    name={option.value}
                  />

                  <span class="ml-2">{option.label}</span>
                </label>
              );
            });
            return (
              <>
                <div class="flex flex-col">
                  <span class="text-gray-700">{label}</span>
                  {checkboxOptions}
                </div>
              </>
            );
          default:
            return;
        }
      }
    }
  }
</div>
